/* responsive css*/

@media (min-width:992px) and (max-width:1199px) {



	
	
	
}

/* Tabe Screen Media */

@media (min-width: 769px) and (max-width: 991px){


.sinle_features {
    padding: 50px 0px;
	width: 60%;
	margin:0 auto;
}

	
	
}

/* Mobile Phone Screen Media */

@media (max-width: 200px){
	
/*시설 내용*/
/*시설 정보 */

.fcl-info{
  width:80%;
  margin:0 auto;
}

/*사진 오버레이*/

.all:hover .overlay{
  opacity:1;
}


.all{
	position:relative;
    box-sizing:border-box;
    width:33.333%;
    float:left;
}

.overlay{
	content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    background:rgba(221, 221, 221, 0.8);
    opacity:0;

}

.overlay p{
  margin:0 auto;
  text-align:center;
  margin-top:160px;
}


.fcl-body{
	text-align:center;
}

.h5-img{
	width: 12px;
}




.pagination{
	width:100%;
	margin-top:30px;
}

.pagination button{
	background:white;
	border:none;
	border-radius: 3px;
	padding:5px;
}

.pagination button:hover{
	background:#d8a899;
	border-radius: 3px;
	padding:5px;
	color:white;
	
}


		
}

